/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* global css variables */
:root {
    --primary-font: "DM Serif Text", serif;
    --secondary-font: "Montserrat", serif;
    --primary-color: #000723;
    --secoundary-color: #7FC8F8; /* Light Sky Blue */
    --highlight-color: #FFE45E; /* Naples yellow */
    --highlight-color-light: #DDD78D; /* Flax */
    --background-color: #F9F9F9; /* Seasalt */
    --white-color: #ffffff; /* White */
    --black-color: #000000; /* Black */
    --hero-background-color: rgb(211, 211, 211, 0.65); /* Lightgray */

}

/* global styles */

body {
    font-family: var(--secondary-font);
    padding-top: 70px;
}

h1,
h2,
h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

h2  {
    margin: 2rem;
}

/* nav */

.nav-button {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: var(--primary-color);
}

.nav-button:hover {
    border: 2px solid var(--highlight-color-light);
    background-color: var(--highlight-color-light);
}

#navbar {
    background-color: var(--primary-color);
}

/* footer */

#contact {
    background-color: var(--primary-color);
    color: var(--white-color);
}

#contact h3 {
    color: var(--white-color);
}

.social-links i {
    padding: 2% 5%;
    font-size: 200%;
}

/* index.html hero */

.carousel-caption {
    background-color: var(--hero-background-color);
    border-radius: 60px;
    color: var(--black-color)
}

/* index.html testimonial section */

/* testemonial imgs */

#testemonialimg1,
#testemonialimg2,
#testemonialimg3 {
    height: 240px;
    width: 320px;
}

/* testemonial card text */

.testemonialcard {
    height: 280px;
}

/* Media queries*/

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* testemonial buttons alignt for visibility on tablets and laptops*/
    .carousel-control-next,
    .carousel-control-prev {
        margin-top: 200px;
    }
}

/* Medium devices (Desktop, 1440px and up) */
@media screen and (min-width: 1440px) {
    /* testemonial buttons alignt for visibility on tablets and laptops*/
    .carousel-control-next,
    .carousel-control-prev {
        margin-top: 0px;
    }
}


/* grid vis for testing 

.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}
*/