/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* global css variables */
:root {
    --primary-font: "DM Serif Text", serif;
    --secondary-font: "Montserrat", serif;
    --primary-color: #05014a;
    --secondary-color: #7FC8F8; /* Light Sky Blue */
    --highlight-color: #FFE45E; /* Naples yellow */
    --background-color: #F9F9F9; /* Seasalt */
}

/* global styles */

body {
    font-family: var(--secondary-font);
    padding-top: 60px;
}

h1,
h2,
h3 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

h2  {
    margin: 2rem;
}

/* nav */

#navbar {
    background-color: var(--secondary-color);
}

/* footer */

#contact {
    background-color: var(--secondary-color);
    color: black;
}

#contact h3 {
    color: black;
}

/* grid vis for testing  

.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}
*/